@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.career-section{
    font-family: "Marcellus", serif;
}
.career-img {
  font-family: "Marcellus", serif;
  height: 100vh;
  background-image: url("../images/career.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  background-size: cover;
}
.btn-caro-1-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 180px;
  padding: 5px 8px;
  border-radius: 20px;
  border: none;
}
.filters{
    padding: 50px 20px 30px 80px;
    font-family: "Marcellus", serif;
}
.career-btn-filter{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: max-content;
    padding: 3px 15px;
    border-radius: 20px;
    border: 1px solid black;
    margin:5px 5px;
}
.career-btn-filter-2{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: max-content;
    padding: 5px 30px;
    border-radius: 20px;
    border: 1px solid black;
    margin:0 5px;
}
.career-btn-filter:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.job-posts{
    margin: 0px 80px 20px 80px;
}
.each-post{
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media(max-width:900px){
    .filters{
        padding: 30px 20px 30px 30px;
    }
    .job-posts{
        margin: 10px 30px;
    }
}
@media(max-width:435px){
    .each-post{
        flex-direction: column;
        text-align: center;
    }
    .career-btn-filter-2{
        margin-top: 10px;
    }
    .jcc{
        justify-content: center;
    }
}

